# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.venv
.env*
.ipynb_checkpoints

# Node.js
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.stylelintcache
.prettiercache
.parcel-cache
.next
.nuxt
.output
.vercel

# Project Specific Data
backend/data/uploads/*
backend/data/images/*
backend/data/processed/*
!backend/data/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
.project
.pydevproject
.settings/
